<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="SIMPLEDB" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MsSql\Data\SimpleDatabase.mdf;Integrated Security=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
    
    <add name="SIMPLEDB_MSSQL" connectionString="Server=10.13.13.101;Database=SIMPLEDB;User Id=simpledb_admin;Password=Password123;" providerName="System.Data.SqlClient" />
    <add name="SIMPLEDB_MYSQL" connectionString="Server=10.13.13.101;Port=3306;Database=simpledb;Uid=simpledb_admin;Pwd=Password123;" />
    <add name="SIMPLEDB_PGSQL" connectionString="Server=10.13.13.101;Port=5432;Database=simpledb;Uid=simpledb_admin;Pwd=Password123;" />
    <add name="SIMPLEDB_SQLITE" connectionString="Data Source=W:\Temp\sqlite\test01.sqlite;Version=3;Pooling=True;Max Pool Size=100;" />
    <add name="SIMPLEDB_FIREBIRD" connectionString="User=SYSDBA;Password=dba;Database=W:\Devel\db\Firebird\DB.FDB;DataSource=localhost;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0;" />
  </connectionStrings>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
